#svgHolder
{
    
   display: inline-block;  
    position: fixed;
    bottom:0px;
    right:0px;
    width: 80%;
    height: 90%;
    
    
}

#btnHolder
{
    position: fixed;
    bottom:0px;
    left:0px;
    height: 90%;
    width: 20%;
    display: inline-block;  
    background-color: cornflowerblue;
    overflow: auto;
}
#btnHolder::-webkit-scrollbar
{
    display: none;
    
    
}
#infoHolder
{
    position: fixed;
    bottom:0px;
    right: 0px;
    height: 90%;
    width: 15%;
    display: inline-block;  
    background-color: cornflowerblue;
    overflow: auto;
}
#infoHolder::-webkit-scrollbar
{
    display: none;
    
    
}
#svg, svg
{
    position: fixed;
    
    left: 20%;
    right: 20%;
    
    height: 90%;
    width: 65%;
    display: inline-block;  

    overflow: auto;
}


#colorLegend, #legend {
    
    font-size: 1.2vw;
    
    
}
#map {
    
    transform: translate(6vw, 1vw);
    
    
    
}
#colorLegend {
    
    transform: translate(2vw, 3vw);
    
    
    position:fixed;
    left:0px;
    top:0px;
    
}
#legend {
    
        
    transform: translate(30vw, 3vw);

}

rect {
    height: 2vw;
    width: 2vw
    
    
}



button
{
    border: solid;
    width: 90%;
    height: 7vw;
    margin: .5vw;
    font-size: 1.99vw;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
}

button:hover
{
    
    background-color: indianred;

    color:white;
    
}

#title
{
    position: fixed;
    top:0px;
    left:0px;
    height: 10%;
    width: 100%;
    
    background-color: firebrick;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
       overflow: hidden;
    font-size: 5vw;
    text-overflow: ellipsis;
    
   
    
}
#textHolder
{
    display: inline-block;
    font-size: 4vw;
    color: white;
    width: 90vw;
    height: 6vw;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    overflow: hidden;
    
    text-overflow: ellipsis;
    
    
    
    padding: 1vw;
    
    
    
    
    
    
}


.state:hover
{
    stroke-width: 0.5vw;
    
    
    
}


.stateInfo
{
    
    background-color: aliceblue;
    margin: 1vw;
    padding: .5vw;
    font-size: 1.5vw;
    
    
}

#stateName
{
    
    
    background-color: aliceblue;
    margin: 10px;
    padding: 5px;
    font-size: 2vw;
    text-align: center;
    
    
    
    
}

